:root {
            --primary-color: #6c5b7b;
            --secondary-color: #c06c84;
            --background-dark: #354e5a;
            --background-light: #f8f4f9;
            --card-bg: #ffffff;
            --text-dark: #2c3e50;
            --text-light: #eceff1;
        }
        
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
           
            line-height: 1.6;
            color: var(--text-dark);
            padding: 3rem 1rem;
            background-color: var(--background-light);
            scroll-behavior: smooth;
        }

        .about-container {
            max-width: 1200px;
            margin: auto;
            padding: 1.5rem;
            border-radius: 1.5rem;
            color: var(--text-dark);
        }

        .about-section {
            margin-top: 4rem;
        }

        .about-section h1 {
            font-size: 3.5rem;
            text-align: center;
            font-weight: 800;
            margin-bottom: 1rem;
            text-shadow: 0 0 15px rgba(0, 191, 255, 0.5);
        }

        .about-section p {
            font-size: 1.2rem;
        }

        /* About----Overview--Section--- */

        .about-overview-flex {
            margin: 2rem 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            align-items: center;
            
        }

        @media (min-width: 768px) {
            .about-overview-flex {
                flex-direction: row;
                text-align: left;
                align-items: flex-start;
            }
        }

        .about-overview-text {
            flex: 1;
        }

        .about-overview-text p {
            margin-bottom: 1.2rem;
            /* padding: 3rem; */
        }

        .about-overview-flex img {
            max-width: 350px;
            height: fit-content;
            border-radius: 1rem;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
        }

        /* ---About--department */

        .about-dept {
            display: grid;
            grid-template-columns: repeat(3, minmax(250px, 2fr));
            gap: 2rem;
            animation: fadeInUp 1.5s ease-in-out;
        }

        @media (min-width: 300px) {
            .about-dept {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        @media (min-width: 992px) {
            .about-dept {
                grid-template-columns: repeat(3, 1fr);
            }
        }

        .about-dept-card {
            background: white;
            margin-top: 5rem;
            padding: 1.5rem;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.925);
            transition: transform 0.1s ease;
        }

        .about-dept-card:hover {
            transform: scale(1.2);
        }

        .about-dept-card h2 {
            margin-bottom: 0.5rem;
            color: var(--text-dark);
        }

        /* ---About---Highligts---- */

        .about-highlights {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background: white;
        }

        @media (min-width: 768px) {
            .about-highlights {
                grid-template-columns: repeat(2, 1fr);
                display: grid;
            }
        }

        .about-list {
            text-align: center;
            padding: 1.5rem;
            border-radius: 0.75rem;
            padding-left: 3rem;
            position: relative;
            font-size: 1.1rem;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.925);
        }

        .about-list::before {
            content: '✓';
            color: var(--secondary-color);
            position: absolute;
            left: 1rem;
            top: 50%;
            font-size: 1.5rem;
            font-weight: bold
        }

        .about-list:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.925);
        }

        /* ---About--Event--- */
        .about-event {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
            gap: 2rem;
            animation: fadeInUp 1.5s ease-in-out;
            margin-top: 2rem;
        }

         @media (min-width: 600px) {
            .about-event {
                grid-template-columns: repeat(1, 1fr);
            }
        }


        .about-event-card {
            background: white;
            padding: 2rem;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.925);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            text-align: left;
        }

        .about-event-card:hover {
            transform: scale(1.1);
        }

        .about-event-card h2 {
            margin-bottom: 0.5rem;
            color: var(--text-dark);
            margin-top: 0;
        }

        .about-event-card p {
            font-size: 0.9rem;
            color: var(--text-dark);
            margin: 0;
        }