<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- SEO -->
    <meta name="description"
        content="CampusConnect - Discover, register, and stay updated on college events. For students, faculty, and visitors.">
    <meta name="keywords" content="Campus Events, College, Students, Faculty, Registration, Event Calendar">
    <meta name="author" content="CampusConnect Team">

    <!-- Social sharing -->
    <meta property="og:title" content="CampusConnect | Navbar">
    <meta property="og:description"
        content="Explore and register for exciting campus events. Stay connected with CampusConnect.">
    <meta property="og:image" content="./../assets/images/logo.svg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://campusconnect.com">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/assets//icons/favicon.svg">

    <link rel="stylesheet" href="/index.css">
    <title>CampusConnect | Footer</title>
</head>

<body>
    <footer class="general-footer" id="general-footer">
        <div class="footer-wrapper">
            <div class="footer-wrapper-section">
                <div>
                    <img src="/assets//images/logo.svg" alt="logo">
                </div>
                
                    <p class="footer-description">
                        CampusConnect is your one-stop portal to explore upcoming, ongoing,
                        and past college events. Stay updated, stay involved!
                    </p>
            
            </div>

            <div class="footer-wrapper-section">
                <h3>Pages</h3>
                <ul class="footer-links">
                    <li><a href="" >Home</a></li>
                    <li><a href="" >About Us</a></li>
                    <li><a href="" >Event Calender </a></li>
                    <li><a href="" >Event Details</a></li>
                    <li><a href="" >Registration</a></li>
                    <li><a href="" >Gallery</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>

            <div class="footer-wrapper-section">
                <h3>Event Categories</h3>
                <ul>
                    <li><a href=""> Technical</a></li>
                    <li><a href="">Sports </a></li>
                    <li><a href="">Cultural </a></li>
                    <li><a href=""> Academics</a></li>
                </ul>
            </div>

            <div class="footer-wrapper-section">
                <h3>Contact Us</h3>
                <p>XYZ College, Main Campus, Enugu, Nigeria</p>
                <p>Email: info@campusconnect.com</p>
                <p>Phone: +234 800 123 4567</p>
                <div class="socials-links">
                    <a href="#"><img src="/assets/icons/faceebook.svg" alt="Facebook"></a>
                    <a href="#"><img src="/assets/icons/twitter.svg" alt="Twitter"></a>
                    <a href="#"><img src="/assets/icons/instagram.svg" alt="Instagram"></a>
                    <a href="#"><img src="/assets/icons/linkendin.svg" alt="LinkedIn"></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom-section">
            <p>© 2025 CampusConnect. All Rights Reserved.</p>
        </div>
    </footer>

</body>

</html>